.landing-page {
    padding: 0px;
    height: calc(100vh - 50px);
    background-image: url(https://picsum.photos/1920/1080);
    background-size: center;
    background-position: center;
    color: white;
  }
  
  .landing-page .container {
    height: 100%;
    display: flex;
    align-items: center;
  }
  
  .landing-page-shadow {
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, .3);
  
  }
  
  .landing-page-btn {
    padding: 5px 50px;
    border: 3px solid white;
    font-weight: bold;
    font-size: 18px;
    color: white;
    background: none;
    width: 164px;
    box-sizing: border-box;
  }
  
  .landing-page-btn:hover {
    background-color: white;
    color: black;
    transition: 1s;
  }
  
  .landing-page-text {
    width: 61%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 35%;
  }