
  
  .offer {
    background-color: #405D78;
  }
  
  .offer h1 {
    color: white;
    margin-bottom: 80px;
  }
  
  .offer-box-wrapper {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  }
  
