
  
  .offer-box-wrapper {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  }
  
  .offer-box {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    margin-right: 3.5%;
    margin-bottom: 3.5%;
    transition-duration: 3s;
    background-color: #F1F1F1;
  }
  
  .offer-box:hover {
    transform: scale(1.05);
    transition: 0.5s;
    transition-timing-function: linear;
  }
  
  .offer-box-content {
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-weight: bold;
  }

  .offer-box-dot {
    position: absolute;
    left: -10px;
    top: -10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #E07A64;
  }

  @media screen and (min-width:1024px) {

  .offer-box {
    width: 31%;
    padding-bottom: 31%;
    }

  .offer-box:nth-of-type(3n) {
  margin-right: 0;
  
    }
  }