  .about h1 {
      margin-bottom: 80px;
    }
  
  
  .about-employee {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    align-items: center;
  }
  
  .about-employee:last-of-type {
    margin-bottom: 0;
  }
  
  .about-employee-img {
    flex-shrink: 0;
    width: 200px;
    height: 200px;
    background-image: url(https://picsum.photos/1920/1080);
    background-position: center;
    background-size: cover;
    border-radius: 50%;
  }
  
  .about-employee-text {
    margin: 56px;  
    text-align: justify;
  }
  
  
  .about-employee-text h2 {
    padding-bottom: 30px;
  }

  @media screen and (min-width:1024px) {

    .about-employee {
      flex-direction: row;
    }
  
    .about-employee:nth-of-type(even) {
      flex-direction: row-reverse;
      text-align: right;
    }

    .about-employee-img {
      flex-shrink: 0;
      width: 200px;
      height: 200px;
      margin-bottom: 0;
      background-image: url(https://picsum.photos/1920/1080);
      background-position: center;
      background-size: cover;
      border-radius: 50%;
    }
    
    .about-employee:nth-of-type(even) .about-employee-img {
      margin-right: 0;
      margin-left: 50px;
    }
    
    .about-employee-text {
      margin: 56px;
    }
    
    
    .about-employee-text h2 {
      padding-bottom: 30px;
    }
}