@media screen and (min-width: 1024px) {

.cont {
    width: 30%;
    flex-direction: column;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

textarea, input {
    margin: 50px;
}



input {
    background: none;
    color: #4E4E4E;
    border: 3px solid #4E4E4E;
    padding: 5px 50px;
    font-weight: bold;
    font-size: 18px;
}

input:hover {
background-color: #405D78;
color: white;
transition: 1s;
}

h1.dark {
    margin-bottom: 80px;
}
    
}