.footer {
    padding: 0px;
    flex-direction: column;
    color: #FFFFFF;
    background: #4E4E4E;
  }
  
  .footer-icon {
    width: 6%;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    color: white;
  }
  
  .footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
  }