
@media screen and (min-width:1024px) {

.container {
  width: 960px;
}

}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: #F1F1F1;
}

html {
  scroll-behavior: smooth;
}

section {
  padding: 80px 0;
}

.container {
  width: 94%;
  margin: 0 auto;
}

h1 {
  font-weight: bold;
  font-size: 36px;
}

h2 {
  font-weight: bold;
  font-size: 18px;
}

.h1-dark {
  color: #152D41; 
}

