nav {
    position: fixed;
    width: 100%;
    background-color: #4E4E4E;
    font-size: 18px;
    color: #FFFFFF;
    z-index:9999
  }
  
  nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
  }
  
  nav .container a {
    color: #F1F1F1;
    text-decoration: none;
  }
  
  .nav-name {
    font-weight: bold;
    font-size: 18px;
  }
  
  .nav-links {
    display: none;
  }
  
 

  @media screen and (min-width: 1024px) {
  
    .nav-links {
      display: initial;
      }
    
    .nav-links a {
      margin-left: 50px;
      }
    }
    